<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="card">              
              <div class="card-body">               
                <p-dataTable [value]="entites" selectionMode="single" [(selection)]="selectedEntity" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
                    <p-header>Dicom Send Management</p-header>
                    <p-column field="aeTitle" header="AE Title" [sortable]="true"></p-column>
                    <p-column field="port" header="Port" [sortable]="true"></p-column>
                    <p-column field="remoteHost" header="RemoteHost" [sortable]="true"></p-column>                    
                    <p-column field="callingAETitle" header="Calling AE Title" [sortable]="true"></p-column>
                    <p-column field="isActive" header="isActive" [sortable]="true"></p-column>                    
                    <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add Dicom Send"></button></div></p-footer>
                </p-dataTable>                
                <p-dialog header="Dicom Send AE Title Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="false">
                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="entity">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="aetitle">AE Title</label></div>
                            <div class="ui-grid-col-8"><input pInputText id="aetitle" [(ngModel)]="entity.aeTitle" /></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="port">Port</label></div>
                            <div class="ui-grid-col-8"><input pInputText id="port" [(ngModel)]="entity.port" /></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="remotehost">RemoteHost</label></div>
                            <div class="ui-grid-col-8"><input pInputText id="remotehost" [(ngModel)]="entity.remoteHost" /></div>
                        </div>   
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="cAeTitle">Calling AE Title</label></div>
                            <div class="ui-grid-col-8"><input pInputText id="cAeTitle" [(ngModel)]="entity.callingAETitle" /></div>
                        </div>     
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><label for="port">isActive</label></div>
                            <div class="ui-grid-col-8"><p-checkbox [(ngModel)]="entity.isActive" binary="true"></p-checkbox></div>
                        </div>
                    </div>
                    <p-footer>
                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
                        </div>
                    </p-footer>
                </p-dialog>
              </div>  
            </div>
        </div>
    </div>
</div>